body {
    background: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

header a {
    text-decoration: none;
    color: white;
}

header {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.sign-form {
    width: 365px;
    min-height: 470px;
    background:  #ffffff;
    margin: 99px auto 0 auto;
    border-radius: 3px;
}

.social-icons {
    width: 324px;
    height: 150px;

    background: linear-gradient(90deg, #BC478F 0%, #7B1FA2 100%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), 0px 4px 25px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin: auto;
    position: relative;
    top: -39px;

    text-align: center;
    padding: 33px;
    box-sizing: border-box;
}

.sign-form .social-icons h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    margin: 0 0 36px 0;
    /*margin-top: 33px;*/
    /*margin: 0 auto 36px auto;
    padding-top: 31px;*/
}

.sign-form .social-icons a {
    text-decoration: none;
    margin: 0 19px;
}

.sign-form span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 32px;
    margin-left: 135px;
}

.sign-form .input-fields {
    margin-top: 24px;
    box-sizing: border-box;
    padding: 0 31px 0 26px;
}

.sign-form .input-fields img {
    width: 24px;
    height: 24px;
    vertical-align: top;
    margin-right: 15px;
}

.sign-form .input-fields input {
    height: 31px;
    width: 254px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #D2D2D2;
}

.sign-form .input-fields input:focus {
    outline: none;
}

.sign-form .input-fields .input2 {
    margin-top: 55px;
    margin-bottom: 46px;
}